@charset "utf-8";

/*
 * 首页美化
 */

/*头像呼吸光环和鼠标悬停旋转放大*/
.img-full {
    width: 100px;
    border-radius: 50%;
    animation: light 4s ease-in-out infinite;
    transition: 0.5s;
}

.img-full:hover {
    transform: scale(1.15) rotate(720deg);
}

@keyframes light {
    0% {
        box-shadow: 0 0 4px #f00;
    }

    25% {
        box-shadow: 0 0 16px #0f0;
    }

    50% {
        box-shadow: 0 0 4px #00f;
    }

    75% {
        box-shadow: 0 0 16px #0f0;
    }

    100% {
        box-shadow: 0 0 4px #f00;
    }
}

/*首页文章头图圆角化*/
.panel{
    border: none;
    border-radius: 15px;
}

.panel-small{
    border: none;
    border-radius: 15px;
}

.item-thumb{
    border-radius: 15px;  
}

/*首页文章图片获取焦点放大*/
.item-thumb, .item-thumb-small{
    cursor: pointer;  
    transition: all 0.6s;  
}

.item-thumb:hover, .item-thumb-small:hover{
      transform: scale(1.05);  
}

/*首页文章头图边框阴影化*/
.panel, .panel:hover, .panel-small, .panel-small:hover, .panel-picture:hover{
   box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.35);
}

/*盒子四周阴影化*/
.app.container {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
}

/*非盒子美化宽度*/
.no-container #post-panel, .no-container .blog-posts {
    max-width: 1200px;
}

/* 首页文章列表悬停上浮*/ 
 .blog-post .panel:not(article) {
    transition: all 0.3s;
}

.blog-post .panel:not(article):hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 10px rgba(73, 90, 47, 0.47);
}

/*文章标题居中*/
.panel h2{
    text-align: center; 
}
.post-item-foot-icon{
    text-align: center;
}

/*文章图标及评论头像圆角化鼠标悬停旋转*/
.img-square {
    transition: all 0.3s;
    border-radius: 50%;
}

.img-square:hover {
    transform: rotate(360deg);
}

/* 博客信息配套颜色 */

#blog_info>ul>li:nth-child(1)>span.badge{
    background-color: #0043ff;
}
#blog_info>ul>li:nth-child(2)>span.badge{
    background-color: #cc00ff;
}
#blog_info>ul>li:nth-child(3)>span.badge{
    background-color: #ffb100;
}
#blog_info>ul>li:nth-child(4)>span.badge{
    background-color: #ff0076;
}


/*
 * 文章内修改
 */

/*打赏图标跳动*/
 .btn-pay {
    animation: star 0.5s ease-in-out infinite alternate;
}

@keyframes star {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/*文章内图片悬停放大并将超出范围隐藏*/
.entry-thumbnail {
    overflow: hidden;
}

#post-content img {
    border-radius: 10px;
    transition: 0.5s;
}

#post-content img:hover {
    transform: scale(1.05);
}

/*
 * 滚动条设置 
 */

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar{
    width: 3px;
    height: 16px;
    background-color: rgba(255,255,255,0);
}
 
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow:0px 0px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: rgba(255,255,255,0);
}
 
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow:0px 0px rgba(0,0,0,.3);
    background-color: #555;
}

/* 广告圆角 */

#a_d_sidebar img {
    border-radius: 8px;
    margin-bottom: 15px;
}


/*
 * 评论美化
 */

/*评论区一键打卡*/
.OwO.OwO-open .OwO-body {
    display:table
}

/*评论边框*/
.comment-parent {
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    border: 1px solid rgba(255,255,255,.3);
}

/*手机适配中不显示热门及标签云*/
@media (max-width:767px) {
    #tabs-4,#tag_cloud-2 {
        display: none;
    }
}

/*表情悬浮*/

/*增加表情*/

/*
 *  注释区
 */

/*右侧列表导航栏图标颜色
.glyphicon-fire {
    color: #ff0000;
}

.nav-tabs-alt .glyphicon-comment {
    color: #495dc3;
}

.glyphicon-transfer {
    color: #0e5458;
}

/*透明背景下文章目录bug*/
#toc {
    background-color:rgba(255, 255, 255, .15) !important;
}

/*透明背景下时光机右侧bug*/
.bg-light .lter, .bg-light.lter {
    text-align: justify;
}
